/* Panel container styling */

.panelLeft {
  background-color: var(--colorNeutralBackground4);
  position: relative;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: auto;
}

.panelRight {
  background-color: var(--colorNeutralBackground4);
  position: relative;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  overflow-y: auto;
}

/* Resize functionality on panels */

.resize-handle-left,
.resize-handle-right {
  position: absolute;
  top: 0;
  width: 3px;
  height: 100%;
  cursor: ew-resize;
  background-color: transparent;
}

.resize-handle-left {
  right: 0;
}

.resize-handle-right {
  left: 0;
  z-index: 1;
}

.resize-handle-left:hover,
.resize-handle-right:hover {
  background-color: var(--colorNeutralStroke1);
}

.resize-handle-right:hover {
  background-color: var(--colorNeutralStroke1);
}

.resize-handle-left:active,
.resize-handle-right:active {
  background-color: var(--colorNeutralStroke1);
}

.contentContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: start;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: scroll;
  box-sizing: border-box;
  padding: 64px 16px 64px 16px;
  height: 100%;
  width: 100%;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: -64px;
  p {
    line-height: 1.5;
    margin: 16px 0 0 0;
  }
  p,
  ol,
  ul {
    color: var(--colorNeutralForeground2);
    font-size: 0.95rem;
    margin-top: 16px;
    h3,
    h4 {
      margin-bottom: 16px;
    }
  }
  code {
    font-size: 0.9rem;
  }
  h2,
  h3,
  h4 {
    color: var(--colorNeutralForeground1);
    margin: 32px 0 32px 0;
    font-weight: 600;
  }
  h1 {
    margin-top: 32px;
    margin-bottom: 32px;
    font-weight: 600;
  }
}



.panelHeader {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 8px;
  min-height: 64px;
  justify-content: space-between;
  box-sizing: border-box;
  backdrop-filter: saturate(180%) blur(16px);
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.headerTitleGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}

.infoTile {
  padding: 16px;
  background-color: var(--colorNeutralBackground4);
  border-radius: 8px;
  border: 1px solid var(--colorNeutralStroke2);
  margin-bottom: 32px;
  display: flex;
  gap: 12px;
  align-items: center;
  white-space: nowrap;
  box-sizing: border-box;

  p {
    margin: 0;
    width: 100%;
    color: var(--colorNeutralForeground3);
    white-space: wrap;
  }
}
