.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--colorNeutralBackground3);
  box-sizing: border-box;
  overflow: hidden;
}

.layout,
main {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.hotkey-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--colorNeutralBackgroundAlpha);
  color: var(--colorNeutralForeground4);
  backdrop-filter: saturate(180%) blur(16px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
  border: 1px solid var(--colorNeutralStroke1);
  padding: 16px;
  border-radius: 8px;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ol, ul {
  padding-left: 20px;

}

li {
  margin-top: 16px;
margin-bottom: 16px;
}

code.span {
  background-color: var(--colorNeutralBackground6);
  padding: 2px 6px;
  border-radius: 4px;
}


