.homeLayout {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 728px;
  margin: auto;

  a {
    color: var(--colorNeutralForeground4);
  }
}

.homeContainer {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.promptButtonContainer {
  display: flex;
  gap: 12px;
}

.promptButton {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--colorNeutralStroke2);
  padding: 12px;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: var(colorNeutralForeground1);
  background-color: var(--colorNeutralBackground1);
}

.promptButton:hover {
  border: 1px solid var(--colorNeutralStroke1Hover);
  background-color: var(--colorNeutralBackground1Hover);
}

.promptButton:active {
  color: var(colorNeutralForeground1Hover);
  border: 1px solid var(--colorNeutralStroke1Pressed);
  background-color: var(--colorNeutralBackground1Pressed);
}

.chatHistoryContainer {
  padding: 8px;
  overflow: scroll;
  overflow-x: hidden;
}

.tab {
  display: flex;
  align-items: center;
  padding: 8px !important;
  border-radius: 4px;
  color: var(--colorNeutralForeground4);
  cursor: pointer;
  font-size: 0.9rem;

  .sideNavTick {
    position: absolute;
    background-color: none;
    height: 24px;
    width: 2px;
    left: 0;
  }
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.tab:hover {
  background-color: var(--colorNeutralBackground1Hover);
  color: var(--colorNeutralForeground2hover);

  .sideNavTick {
    background-color: var(--colorNeutralStroke1Pressed);
  }
}

.active-tab {
  background-color: var(--colorNeutralBackground1Pressed);
  /* color: var(--colorNeutralForeground2Hover); */
  display: flex;
  /* align-items: center; */
  padding: 8px !important;
  border-radius: 4px;
  .sideNavTick {
    position: absolute;
    background-color: var(--colorCompoundBrandStroke);
    height: 24px;
    width: 2px;
    left: 0;
  }
  svg {
    color: var(--colorBrandForeground1); /* Change icon color when active */
  }
}

/* Base style for NavLink */
.tab,
.tab:link,
.tab:visited,
.tab:hover,
.tab:focus,
.tab:active,
.active-tab {
  text-decoration: none !important;
}

.navSectionTitle {
  padding: 0 8px 16px 8px;
  color: var(--colorNeutralForeground4);
}

.navSectionContainer:not(:first-of-type) .navSectionTitle {
  margin-top: 32px; /* Adjust as needed */
}

.personaField {
  display: flex;
  flex: 1;
  width: 100%;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.personaContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 12px;
}

.personaButton {
  display: flex;
  /* flex-direction: column; */
  align-items: center;

  border: 1px solid var(--colorNeutralStroke2);
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: var(colorNeutralForeground1);
  background-color: var(--colorNeutralBackground1);
}

.personaButton:hover {
  border: 1px solid var(--colorNeutralStroke1Hover);
  background-color: var(--colorNeutralBackground1Hover);
}

.personaButton:active {
  color: var(colorNeutralForeground1Hover);
  border: 1px solid var(--colorNeutralStroke1Pressed);
  background-color: var(--colorNeutralBackground1Pressed);
}
